.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fd-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fd-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.title {
  font-family: "Banny", sans-serif;
}

.title::after {
  content: "";
  width: 50px;
  height: 5px;
  display: block;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 25px);
  background-color: #e8c300;
}

.subtitle {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.8em;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

@font-face {
  font-family: "Banny";
  src: url("../fonts/Banny-Round.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.explore {
  width: 100%;
  height: auto;
  background-image: url("../img/explore-bg.png"), url("../img/Line.png"), url("../img/Line.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 0, top 0 left 300px, bottom 0 right 300px;
}

.explore__subtitle {
  width: 100%;
  height: auto;
  margin-top: 326px;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .explore__subtitle {
    margin-top: 240px;
  }
}

.explore__title {
  width: 100%;
  height: auto;
  margin-top: 27px;
  position: relative;
  font-size: 6.5em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .explore__title {
    font-size: 3.5em;
    margin: 30px 0;
    padding: 0 5%;
  }
}

.explore__button {
  margin: 66px 20px 0;
}

@media screen and (max-width: 600px) {
  .explore__button {
    margin-top: 20px;
  }
}

.explore__next {
  width: 60px;
  height: 60px;
  margin: 92px calc(50% - 30px) 70px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .explore__next {
    margin-top: 40px;
  }
}

.explore__schedule {
  width: auto;
  height: auto;
  position: absolute;
  top: 450px;
  left: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media screen and (max-width: 1200px) {
  .explore__schedule {
    display: none;
  }
}

.explore .sidebar {
  position: absolute;
  top: 340px;
  right: 80px;
}

.explore .sidebar__button {
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .explore .sidebar {
    right: 20px;
  }
}

@media screen and (max-width: 992px) {
  .explore .sidebar {
    display: none;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fd-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fd-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.title {
  font-family: "Banny", sans-serif;
}

.title::after {
  content: "";
  width: 50px;
  height: 5px;
  display: block;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 25px);
  background-color: #e8c300;
}

.subtitle {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.8em;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

@font-face {
  font-family: "Banny";
  src: url("../fonts/Banny-Round.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.header {
  width: 100%;
  height: auto;
  position: absolute;
  padding: 0 80px;
}

.header__item {
  width: 133px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.8em;
  line-height: 18px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 992px) {
  .header__item {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .header__item {
    font-size: 0.65em;
  }
}

.header__logo {
  width: 150px;
  height: 150px;
  margin: 25px 35px;
}

@media screen and (max-width: 768px) {
  .header__logo {
    width: 100px;
    height: 100px;
    margin: 50px 5px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 20px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: 0;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fd-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fd-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.title {
  font-family: "Banny", sans-serif;
}

.title::after {
  content: "";
  width: 50px;
  height: 5px;
  display: block;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 25px);
  background-color: #e8c300;
}

.subtitle {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.8em;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

@font-face {
  font-family: "Banny";
  src: url("../fonts/Banny-Round.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.button {
  height: auto;
  width: auto;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 0.8em;
  line-height: 20px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  border: 0;
}

.button__gold {
  background-color: #e8c300;
  padding: 19px 66px;
}

.button__lite {
  border: 1px solid #ffffff;
  padding: 19px 76px;
}

.button__round {
  width: 40px;
  height: 40px;
  font-size: 1em;
  line-height: 23px;
  border-radius: 50%;
  border: none;
}

.button__sidebar {
  width: 60px;
  height: 60px;
  font-size: 1em;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fd-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fd-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.title {
  font-family: "Banny", sans-serif;
}

.title::after {
  content: "";
  width: 50px;
  height: 5px;
  display: block;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 25px);
  background-color: #e8c300;
}

.subtitle {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.8em;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

@font-face {
  font-family: "Banny";
  src: url("../fonts/Banny-Round.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
