$gold: #e8c300;
$button-gold: #e8c300;
$header-border: rgba(255, 255, 255, 0.2);
$white: #ffffff;
$black: #333333;
$border: rgba(255, 255, 255, 0.2);
$clear: rgba(
    $color: #000000,
    $alpha: 0,
);

//--buttons--//
$button-fz: 0.8em;
$button-round-fz: 1em;
//--header--//
$header-item-fz: 0.8em;
$header-item-phone-fz: 0.65em;

//--explorer-//
$explorer-subtitle-fz: 0.8em;
$explorer-title-fz: 6.5em;

.flex {
    display: flex;
}
.fd-row {
    flex-direction: row;
}
.fd-column {
    flex-direction: column;
}
.jc-sb {
    justify-content: space-between;
}
.jc-center {
    justify-content: center;
}
.wrap {
    flex-wrap: wrap;
}

.title {
    font-family: "Banny", sans-serif;

    &::after {
        content: "";
        width: 50px;
        height: 5px;
        display: block;
        position: absolute;
        bottom: -30px;
        left: calc(50% - 25px);
        background-color: $gold;
    }
}
.subtitle {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: $explorer-subtitle-fz;
    line-height: 14px;

    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
}

@font-face {
    font-family: "Banny";
    src: url("../fonts/Banny-Round.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
